{% extends 'base.html' %}

{% block title %}management{% endblock %}



{% block content %}


<div class="card border-info mb-3">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'management_part' group.pk %}" >パート設定</a></h4>
    <p class="card-text">1番目に設定する項目。ランチの有無</p>
</div>
</div>
<div class="card border-info mb-3">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'management_need' group.pk %}" >シフト必要人数設定</a></h4>
    <p class="card-text">２番目に設定する項目。必要人数</p>
</div>
</div>

<div class="card border-info mb-3">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'management_detail' group.pk %}" >シフト設定詳細</a></h4>
    <p class="card-text">最後に設定する項目。シフト作成においての詳細</p>
</div>
</div>





{% endblock %}
