{% extends 'base.html' %}

{% block title %}Sign up to Django Boards{% endblock %}

{% block content %}
<h1>{{ group.name }}</h1>

<div class="card border-info mb-3">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'shift_submit' group.pk %}" >シフト提出</a></h4>
    <p class="card-text">シフトの提出（全員）</p>
  </div>
</div>


<div class="card border-info mb-3">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'shift_detail' group.pk %}" >シフト詳細を提出する</a></h4>
    <p class="card-text">シフトの量など希望があれば提出（全員）</p>
  </div>
</div>
<div class="card border-info mb-3">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'shift_show' group.pk %}">シフト提出状況を見る</a></h4>
    <p class="card-text">シフト提出状況を見る（全員）</p>
  </div>
</div>

<div class="card border-danger mb-3">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'management' group.pk %}" >シフト設定</a></h4>
    <p class="card-text">シフト作成に関する設定を行うページ（管理者のみ）</p>
</div>
</div>

<div class="card border-danger mb-3">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'shift_create' group.pk %}">シフト作成</a></h4>
    <p class="card-text">シフトの作成（管理者のみ）</p>
  </div>
</div>


{% endblock %}
