{% extends 'base.html' %}

{% block title %}management{% endblock %}



{% block content %}
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>日にち</th>
      <th>希望</th>
    </tr>
  </thead>
  <tbody>
<form action="{% url 'shift_submit' group.pk %}" method="post">
  {% for form in formset %}
  <tr>
    <div class="form-group">
    <td>
    {{ form.date.value }}日
    {% if form.part.value == 1 %} （夜）
    {% elif form.part.value == 2 %} （昼)
    {% endif %}
    </td>
    <td>
      <div class="form-control">
    {{ form.hope }}
      </div>
    </td>
    </div>
    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}
  </tr>
  {% endfor %}
  {% csrf_token %}
  {{ formset.management_form }}
  </tbody>
  </table>
  <button type="submit" class="btn btn-primary btn-block">シフト提出</button>
</form>

{% endblock %}
