{% extends 'base.html' %}

{% block content %}

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>グループ</th>
        <th>作成者</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr>
          <td>
            <a href="{% url 'group_page' group.pk %}">{{ group.name }}</a>
          </td>
          <td class="align-middle">{{ group.created_by }}</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



  <a href="{% url 'group_create' %}" class="btn btn-primary ml-2">グループを作成</a>
  <a href="{% url 'group_login' %}" class="btn btn-primary ml-2">グループにログイン</a>
{% endblock %}
